<div class="landing-board-wrapper p-xl" style="{{containerStyle}}">
    <div class="container">
        <h2> {{layout.title}}</h2>
        <div class="row">
            <div class="col-xs-6">
                <ul>
                    {{#each listColumns.left as |person|}}
                        <li><b>{{person.firstName}} {{person.lastName}}</b>, {{person.institution}}</li>
                    {{/each}}
                </ul>
            </div>
            <div class="col-xs-6">
                <ul>
                    {{#each listColumns.right as |person|}}
                        <li><b>{{person.firstName}} {{person.lastName}}</b>, {{person.institution}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>
