<div class="add-url m-t-lg">
    <h4> Add a Website </h4>
    <div class="row m-t-md">
        <div class="col-sm-6">
            {{input class="form-control" value=urlTitle placeholder="Enter Title"}}
        </div>
        <div class="col-sm-6">
            {{input class="form-control" value=urlAddress placeholder="Enter Address"}}
        </div>
    </div>
    <div class="row m-t-md">
        <div class="col-sm-9">
            {{textarea class="form-control" value=urlDescription placeholder="Enter Notes"}}
        </div>
        <div class="col-sm-3"><button class="btn btn-success" {{action "addWebsite"}} >Add</button></div>
    </div>

    <div class="text-center">
        {{#each urlSaveErrors as |error|}}
            <div class="text-danger">{{error.detail}}</div>
        {{/each}}
    </div>
</div>
