<div class="landing-copyright-wrapper p-xl text-center">
    <span class="m-r-sm">{{model.title}}</span>
    {{#each data as |link|}}
        <a href="{{link.url}}" class="m-r-sm">
            {{#if link.icon}}
                <i class="fa {{link.icon}}"></i>
            {{else}}
                {{link.label}}
            {{/if}}
        </a>
    {{/each}}
</div>
